<div>
  <v-toolbar
    dense
    app
    style="-webkit-app-region: drag;"
  >
      <v-toolbar-title class="pr-4">
        <v-icon>music_video</v-icon>
      </v-toolbar-title>
      <v-tabs
        v-model="tab"
        v-if="!isSearch"
        slider-color="primary"
      >
        <v-tabs-slider></v-tabs-slider>
        <v-tab v-for="item in items" :key="item" style="-webkit-app-region: no-drag;">
          {{ item }}
        </v-tab>
      </v-tabs>
      <v-spacer v-if="!isSearch"></v-spacer>
      <v-slide-y-transition mode="in-out">
        <v-btn icon v-if="!isSearch" @click="openSearch" style="-webkit-app-region: no-drag;">
          <v-icon>search</v-icon>
        </v-btn>
      </v-slide-y-transition>
      <v-slide-y-transition mode="out-in">
        <v-text-field
          prepend-icon="search"
          append-icon="close"
          :append-icon-cb="closeSearch"
          label="Search"
          solo-inverted
          flat
          v-if="isSearch"
          auto-focus
          style="-webkit-app-region: no-drag;"
          ref="search"
          v-model="searchTerm"
        ></v-text-field>
      </v-slide-y-transition>
      <v-menu offset-y bottom left style="-webkit-app-region: no-drag;">
        <v-btn icon slot="activator">
          <v-icon>more_vert</v-icon>
        </v-btn>
        <v-list two-line dense subheader>
          <v-subheader>Global Theme</v-subheader>
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>Dark</v-list-tile-title>
              <v-list-tile-sub-title>Dark Flovared.</v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-checkbox v-model="darkApp"></v-checkbox>
            </v-list-tile-action>
          </v-list-tile>
        <v-divider></v-divider>
        <v-subheader>Misc</v-subheader>
        <v-list-tile @click="openAboutDialog">
          <v-list-tile-content>
            <v-list-tile-title>About</v-list-tile-title>
            <v-list-tile-sub-title>About this App.</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      </v-menu>
      <v-btn icon @click="minimize" style="-webkit-app-region: no-drag;">
        <v-icon small>remove</v-icon>
      </v-btn>
      <v-btn icon @click="maximize" style="-webkit-app-region: no-drag;">
        <v-icon small>check_box_outline_blank</v-icon>
      </v-btn>
      <v-btn icon @click="close" style="-webkit-app-region: no-drag;">
        <v-icon small>close</v-icon>
      </v-btn>
  </v-toolbar>
</div>
