<div>
  <v-footer
    fixed
    app
    height="70px"
  >
    <v-layout row>
      <v-flex xs12>
        <v-list two-line subheader>
          <v-list-tile avatar>
            <v-list-tile-avatar
              @click="playing ? pause() : play()" :disabled="loaded === false"
              style="cursor:pointer;"
            >
              <v-icon
                v-if="playing === false || paused === true"
              >
                play_arrow
              </v-icon>
              <v-icon
                class="primary white--text"
                v-else
              >
                pause
              </v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>
                <p>{{ currentSongName  }} - {{ currentSongArtist }}</p>
              </v-list-tile-title>
              <v-list-tile-sub-title>
                <v-slider
                  :label="playTime"
                  @click.native="setPosition()"
                  v-model="percentage"
                  style="margin-top: -20px; margin-bottom: -30px; color: #fff;"
                  color="white"
                  track-color="grey lighten-1"
                />
              </v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-action @click="shuffle" :disabled="loaded === false">
              <v-tooltip top>
                <v-btn icon :class="shuffleColor" slot="activator">
                  <v-icon>shuffle</v-icon>
                </v-btn>
                <span>Shuffle {{ ($store.getters.shuffle) ? 'Off' : 'On' }}</span>
              </v-tooltip>
            </v-list-tile-action>
            <v-list-tile-action @click="loop" :disabled="loaded === false">
              <v-tooltip top>
                <v-btn icon :class="loopColor"slot="activator" >
                  <v-icon>loop</v-icon>
                </v-btn>
                <span>Loop this Song</span>
              </v-tooltip>
            </v-list-tile-action>
            <v-list-tile-action @click="mute()" :disabled="loaded === false">
              <v-btn icon :class="muteColor" >
                <v-icon v-if="isMuted === false">volume_up</v-icon>
                <v-icon v-else>volume_off</v-icon>
              </v-btn>
            </v-list-tile-action>
            <v-list-tile-action>
              <v-avatar
                :tile="true"
                class="pl-4"
              >
                <img :src="currentSongArt">
              </v-avatar>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
        <audio id="player" ref="player" v-on:ended="ended" v-on:canplay="canPlay" :src="currentSongFile"></audio>
      </v-flex>
    </v-layout>
  </v-footer>
</div>
